.photo-circle {
  width: 72%;
  height: 72%;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-circle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  box-shadow: none;
  pointer-events: none;
}

.dark .photo-circle::after {
  box-shadow: none;
}

.photo-circle img {
  width: 155%;
  height: 155%;
  object-fit: cover;
  object-position: 50% 60%;
  transform: translateY(110px);
}
