.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.home-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -8rem;
}

.home-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -7.5rem;
  z-index: 3;
  position: relative;
}

.home-text-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgb(5, 0, 15);
  z-index: -1;
}

.home-heading {
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Bricolage Grotesque', system-ui, -apple-system, sans-serif;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  margin: 0;
}

.home-subheading {
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Figtree', system-ui, -apple-system, sans-serif;
  color: light-dark(#5B5B66, #C3C3CC);
  text-align: center;
  max-width: 600px;
  transform: translateY(-1rem);
}

@media (max-width: 768px) {
  .home-heading {
    font-size: 2.5rem;
  }

  .home-subheading {
    font-size: 1.1rem;

  }
}
