.site-header {
  position: sticky;
  bottom: 44rem;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  position: absolute;
  top: 0.5rem;
  left: 4rem;
  height: 120px;
  display: flex;
  align-items: center;
}

.header-logo img {
  height: 100%;
  width: auto;
}
